.header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    margin-right: 20px;
}

.banner img {
    width: 1200px;
    height: 500px;
    position: relative;
}

.banner p {
    position: absolute;
    bottom: 50px;
    left: 42%;
}